$textcolor: rgb(243, 73, 73);
$textcolor2: rgb(94, 94, 94);

@mixin theme {
    background-color: white;
    border: 1px solid #ddd;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

header {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px 20px;
    pointer-events: none;
    margin-bottom: 0px;
    a{
        text-decoration: none;
        pointer-events:all;
    }
    h1{
        color: white;
        font-size: 20px;
    }
    span {
        color: $textcolor;
    }
    p {
        color: $textcolor2;
        font-size: 18px;
    }

    #left {
        align-self: left;
        margin-right: auto;
    }
    i {
        border: 1px solid $textcolor2;
    }
}
.sidenav {
    background-color: #d1cbc4;
    height: calc(100vh - 60px);
    width: 200px;
    padding-top: 0px;
    margin-top: 0px;
    position: absolute;
    top: 60px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    a {
        text-decoration: none;
        color: $textcolor2;
        font-size: 20px;
    }
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}
#top {
    padding: 20px;
    background-color: white;
    width: calc(100% - 240px);
    position: relative;
    top: -25px;
    left: 200px;

    span{
        margin-left: 10px;
        font-size: 14px;
        color: $textcolor2;
    }
}
li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
.box1 {
    position: absolute;
    top: 200px;
    left: 220px;
    @include theme;
}
.box2 {
    position: absolute;
    top: 200px;
    left: 520px;
    @include theme;
}
.box3 {
    position: absolute;
    top: 200px;
    left: 820px;
    @include theme;
}
.box4 {
    position: absolute;
    top: 200px;
    left: 1120px;
    @include theme;
}